<launch>
    <!-- MAVROS + PX4 + Gazebo -->
    <include file="$(find px4_fast_planner)/launch/mavros_posix_sitl.launch" />

    <!-- Fast planner -->
    <include file="$(find px4_fast_planner)/launch/px4_topo_replan.launch" />
    <!--include file="$(find px4_fast_planner)/launch/px4_kino_replan.launch" /-->

    <!-- Geometric controller -->
    <include file="$(find px4_fast_planner)/launch/sitl_geometric_controller.launch" />

    <!-- Rviz -->
    <include file="$(find px4_fast_planner)/launch/rviz.launch" />

</launch>